body {
	background-color: white;
	color: #C17087;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 53px;
	font-family: 'Zilla Slab', serif;
}

h2 {
	font-size: 28px;
	font-family: 'Libre Baskerville', serif;;
}

p {
	font-size: 16px;
}

a {
	font-style: italic;
	color: #C17087;
}

footer {
	font-size: 14px;
}

img {
	height: 30vw;
	width: auto;
}